.main{
    display: flex;
    flex-direction: column;
}

.form{
    padding: 15px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-input, .select{
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 5px 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-control{
    display: flex;
    flex-direction: column;
    position: relative;
}

.star::after{
    position: absolute;
    left: -15px; 
    top: -35px;
    content: '*';
    color: red;
    vertical-align: super;
    height: 10px;
}

.label{
    font-size: 18px;
    line-height: 30px;
}

.control-btn{
    display: flex;
    justify-content: space-around;
}

.form-btn{
    font-size: 20px;
    line-height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    
}

.reset {
    background-color: #ff9999;
}

.submit{
    background-color: #c5ffa8;
}


.select{
    margin-bottom: 20px;
}

.hide{
    display: none;
}

.active{
    display: initial;
}

.error-item{
    color: red;
}

.err{
    border-color: red;
}

